.topbar-container {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.topbar-left {
    flex: 3;
}

.topbar-center {
    flex: 5;
}

.topbar-right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbar-links{
   display:flex;
}

.topbar-link{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    color: white;
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}



.search-icon {
    font-size: 20px !important;
    margin-left: 10px;
}

.search-input {
    width: 70%;
    border: none;
}

.search-input:focus {
    outline: none;
}

.topbar-icons{
    display: flex;
}

.topbar-icon__item{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbar-icon__badge{ 
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar-img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer ;
}

